<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Document</title>
</head>
<body>
    {{>navbar}}
    
    <section id="about-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="about-text border-right">
                        <h1>nidhi</h1>
                    </div>
                </div>
            </div>
        </div>

    </section>
    {{>footer}}
</body>
</html>